[submodule "CCU"]
	path = CCU
	url = git@gitee.com:TheTravels/CCU_0001.git
[submodule "OBD_Report"]
	path = OBD_Report
	url = git@gitee.com:TheTravels/OBD_Report_Qt.git
[submodule "UTC"]
	path = UTC
	url = https://github.com/TheTravels/GpsUtcAndLocalTime.git
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/TheTravels/cJSON.git
[submodule "RSA"]
	path = RSA
	url = https://gitee.com/TheTravels/RSA.git
